<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sharp_proxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <sharp_proxy.Properties.Settings>
            <setting name="HttpPort" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="HttpsPort" serializeAs="String">
                <value>1443</value>
            </setting>
            <setting name="UseSocks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Socks5Port" serializeAs="String">
                <value>2080</value>
            </setting>
            <setting name="CaptureData" serializeAs="String">
                <value>False</value>
            </setting>
        </sharp_proxy.Properties.Settings>
    </userSettings>
</configuration>